@import '../../common/colors.scss';

.movie__header {
    background-color:$secondary-color; 
    height: 72px;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.movie__logo {
    color: $font-primary;
    font-size: 20px;
    font-weight: 600;
}

.movie__user__image , .movie__user__image img {
    width: 38px;
    height: 38px;
}